body {
	background-color: #E0E0E0;
	font-family: Oswald, Times New Roman;
}

h2 {
	color: #203D6C;
	margin:5px;
}

h1, h3 {
	color: #203D6C;
}

a, h4, h5, h6 {
	color: #188F89;
}

.tab-pane.active {
  margin-bottom: 60px;
}

#logOutButton {
	color: #FFFFFF;
	background-color: #188F89;
}

.cardNumber{

  text-align: right;
  display: inline-block;
}

#find-rewards-button {
	background-color: #203D6C;
}

#headerContainer {
	background-color: #203D6C;
	width: 100%;
	border: none;
}

#nav-tab-padding {
  height: 200px;
}

.jumbotron{
	background-color: #B1D0B5;
	color: #FFFFFF;
}

#searchResults{
  width:100%;
}

.row{

  padding-bottom: 1em;
  margin-bottom: 10px;
}

#Signin {

  width: 100%;
  margin-left:  0%;
  margin-right: 10%;
  background-color: #203D6C; 
  color:#FFFFFF;
}

#find-rewards-button{
  width: 100%;
  margin-right: 10%;
  background-color: #203D6C; 
  color:#FFFFFF;
}





.card-list-div {
  border-bottom: 1px #CCCCCC solid;
  padding-bottom: 15px;
  margin: 0px 12px 15px 15px;
  background-color: #B1D0B5;
  color: #188F89;
  
}

.delete-card-button {
  position: absolute;
  top: 10px;
  right: 10px; 
  background-color: #188F89; 
  border: none;
}

#bestCard {
	border-bottom: 1px #CCCCCC solid;
	margin: 10px;
	background-color: #B1D0B5;
  	color: #203D6C;
	text-align:center;
	font-size:16pt;
	padding: 10px;
}


#tabControl{

  position: fixed;
  bottom: 0px;
  background-color: white; 

}

.mytab{
  color: white;
}



.container-fluid {
	text-align: center;
	margin:5%;
}

.stepCol {
	color: #FFFFFF;
	background-color: #000000;
	font-family: Oswald, Veranda, San-Serif;
	padding: 8px;
}

.instructionCol {
	padding: 10px;
	
}

.resultsCol {
	padding: 10px;
}

.select-style {
    border: 1px solid #ccc;
	margin:auto;
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/select.png") no-repeat ;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
/*This is for mask and popup*/

#cancelButton{
    float: right;
}

.modal-title{
    text-align: center;

}

#popUpSignUpButton{
    float: left;
}

.dropdown{

   position: relative;

}
.caret{
    color: #428bca;
}



#dropdownButton{

    padding: 10px 15px;
    border-radius: 4px;
    position: relative;
    display: block;
}



#logoutButton{
    float: right;
    height: 100%;
    margin-top: 7px;
}

html, body, #map-canvas2 {
	height: 100%;
	margin: 0px;
	padding: 0px
  }
  .controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width:75%;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
  }

  #pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
  }

  .pac-container {
	font-family: Roboto;
  }

  #type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
  }

  #type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
  }

  #input-control {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
  }

  #input-control span {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
  }