
.container-fluid {
	text-align: center;
	margin:5%;
}

.stepCol {
	color: #FFFFFF;
	background-color: #000000;
	font-family: Oswald, Veranda, San-Serif;
	padding: 8px;
}

.instructionCol {
	padding: 10px;
	
}

.resultsCol {
	padding: 10px;
}

.select-style {
    border: 1px solid #ccc;
	margin:auto;
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/select.png") no-repeat ;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
/*This is for mask and popup*/

#cancelButton{
    float: right;
}

#popUpTitle{

    text-align: center;
    color: white;
}

#mask {
    display: block;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
    display:none;
    background: #333;
    padding: 10px;  
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right; 
    margin: -28px -28px 0 0;
}

fieldset { 
    border:none; 
}

form.signup .textbox label { 
    display:block; 
    padding-bottom:7px; 
}

form.signup .textbox span { 
    display:block;
}

form.signup p, form.signup span { 
    color:white; 
    font-size:11px; 
    line-height:18px;
} 

form.signup .textbox input { 
    background:#666666; 
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff; 
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:200px;
}

form.signup input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signup input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }


.dropdown{

    float: right;
    color: white;

}

#logoutButton{
    float: right;
    height: 100%;
    margin-top: 7px;
}


