<hr>

      <footer style="margin:15px;">
        <p>&copy; Team Yellow 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Our team's javascript -->
    <script src="js/parse-1.2.18.js"></script>
    <script type="text/javascript" src = "js/db.js"></script>
    <script src="js/cardInfo.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
