<hr>

      <footer style="margin:15px;">
        <p>&copy; Team Yellow 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Our team's javascript -->
    <script src="js/cardInfo.js"></script>
    <script src="js/main.js"></script>

	
	<!--<script type="text/javascript" src="js/findMerchants.js"></script>-->
    <script src="js/parse-1.2.18.js"></script>
    <script type="text/javascript" src = "js/db.js"></script>
    <script type="text/javascript" src = "js/jquery-ui-1.10.4.custom.js"></script>
</body>
</html>
