<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Our own CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/mapSearch.js"></script>
   <script type="text/javascript" src = "js/jquery-ui-1.10.4.custom.js"></script>
  <!-- More javascript is at bottom of body -->

  <title>Reward Genie</title>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container" id ="headerContainer">
        <div class="navbar-header" style= "width:100%">        
          <a class="navbar-brand" href="index.html" id = "" style="color: #FFFFFF; font-size: 20pt">
    			<img src="img\lamp-genie-sm.png" alt="Reward Genie Logo" style="margin: -12px 5px 0px 0px;"/> Reward Genie
    		  </a> 
         <div style="margin: 4px 4px 0px 0px;  float:right;" class = ""> 
            <button type="button" class="btn btn-danger" id="logOutButton" style = "display:none;">Log Out</button>   
          </div> 
        </div >
             
      </div>
   
    </div>
    
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div id="signUpPop" class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Sign Up</h4>
                </div>
                  <div class="modal-body">
                    <form method="get" class="signup" action="" id = "signupform" role = "form">
                       <div class="form-group">
                          <label for="email">Username</label>
                          <input type="email" class="form-control" id="email" name = "username" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" name = "password"placeholder="Password">
                        </div>
                        
                  </div>
                         <div class="modal-footer">
                          <button class="btn btn-success" type="submit" id = "popUpSignUpButton">Sign Up</button>
                          <button class ="btn btn-danger" type ="button" onclick = "closePopUp()" id = "cancelButton">Cancel</button>                
                          </fieldset>
                        </div>
                    </form>
                  </div>
              </div>
        </div>