<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Our own CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	
  <!-- Our javascript is at bottom of body -->

	<title>Reward Genie</title>
</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="img/lamp-genie-sm.png" alt="Logo">Reward Genie</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" id = "signInForm">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" name = "username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name = "password">
            </div>
            <button type="submit" class="btn btn-success" id = "Signin" >Sign in</button>
            <a type ="button" class = "btn btn-success" id = "Signup" href = "#signUpPop">Sign up</a>

          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div id="signUpPop" class="login-popup">
        <a href="#" class="close" id = "closebtn"><img src="img/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
          <form method="get" class="signup" action="" id = "signupform">
                <fieldset class="textbox">
                <h4 id = "popUpTitle">Sign Up</h4>
              <label class="username">
                <span>Username</span>
                <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
              </label>
              <label class="password">
                <span>Password</span>
                <input id="password" name="password" value="" type="password" placeholder="Password">
              </label>
               
              <label class="email">
                <span>Email</span>
                <input id="Email" name="email" value="" type="text" placeholder="Your email address">
              </label>
                <button class="btn btn-success" type="submit" >Sign Up</button>
                <button class ="btn btn-danger" type ="button" onclick = "closePopUp()" id = "cancelButton">Cancel</button>                
                </fieldset>
          </form>
    </div>