<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Our own CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="js/mapSearch.js"></script>
  <!-- Our javascript is at bottom of body -->

	<title>Reward Genie</title>
</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">
      <div class="container" id ="headerContainer">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html" id = "">Reward Genie</a>
        </div>


      </div>
    </div>